.container 
    footer 
        div.footer_wrapper#1
            div
                h3 Каталог
                .footer_flex-wrapper
                    div
                        p Дымоходы
                        p Дымососы
                        p Печи для дома
                        p Печи для бани
                    div
                        p Камины
                        p Силикат кальция
                        p Котлы
                        p Ещё
        div.footer_wrapper#2
            div
                h3 Информация
                .footer_flex-wrapper 
                    div
                        p Каталог
                        p Установка и монтаж
                        p Отзывы
                        p Ликвидация товара
                    div
                        p Полезное
                        p Контакты
                        p Оплата и доставка

        div.footer_wrapper#3
            div
                h3 Время работы
                .footer_flex-wrapper 
                    div
                        div.paragraph-flex
                            img.footer-img(src='images/wall-clock.png' alt='placeholder')
                            span пн-пт    
                            |  9:00 – 20:00     
                            span сб-вс  
                            | 10:00 – 18:00
                        div.paragraph-flex
                            img.footer-img(src="images/placeholder.png", alt="placeholder")
                            | г. Санкт - Петербург, ул. Тамбасова д.7
                        div.footer-images
                            img(src="images/vk.png", alt="")
                            img(src="images/tg.png", alt="")
                            img(src="images/instagram.png", alt="")
                            img(src="images/whatsapp.png", alt="")


















        //- .flex-wrapper
        //-     p Каталог
        //-     p Информация
        //-     p Время работы
        //- .footer_desc 
        //-     .flex-container
        //-      div.footer_desc-wrapper
        //-         p Дымоходы
        //-         p Дымососы
        //-         p Печи для дома
        //-         p Печи для бани
        //-      div.footer_desc-wrapper 
        //-         p Камины
        //-         p Силикат кальция
        //-         p Котлы
        //-         p Ещё
        //-     .flex-container 
        //-      div.footer_desc-wrapper 
        //-         p Каталог
        //-         p Установка и монтаж
        //-         p Отзывы
        //-         p Ликвидация товара
        //-      div.footer_desc-wrapper 
        //-         p Полезное
        //-         p Контакты
        //-         p Оплата и доставка
        //-     div
        //-         p Привет 

