.container
        header
                img.header_logo(src='images/Logo.png' alt="logo" onclick="changeStyles()" title="Нажми на меня")
                img.header_burger__menu(src="images/burger menu.png" alt="burger-menu" onclick="promise()")
                .header_list    
                        ul.header_list__li.aqua-theme
                                li Каталог товаров
                                li Доставка и оплата
                                li Цены
                                li Контакты
                .header_phone
                        p
                                span.header_phone-green +7 (812) 
                                | 509 21 98
                .header_call-button 
                        a(href="tel:+78125092198") Перезвоните мне
                .header_icons 
                        img(src="images/vk.png" alt="icon")
                        img(src="images/tg.png" alt="icon")
                        img(src="images/instagram.png" alt="icon")
                        img(src="images/whatsapp.png" alt="icon")

                .header_search 
                        img.search-img(src="images/search.png" alt="search")
                        img.header-img(src="images/heart.png" alt="search")
                        img.cart-img(src="images/cart.png" alt="search")

