section.section_container
    h1.title Монтаж дымоходов
    .subtitle 
        p Главная 
            span > Монтаж дымоходов
    .description 
        p В 
            span Дымоход.ру 
            |вам помогут
            |вам помогут как приобрести,
            |так и установить дымоход любой конфигурации. 
            |В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, 
            |которые ежегодно проходят курсы повышения квалификации. 
            |Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .description_2
        .description_2-col-1 
            h1 Lorem ipsum dolor sit amet 
                br
                span Lorem ipsum
            ul 
                li Доступные цены
                li Собственное производство дымоходов
                li Выполнение необходимых работ, связанных с установкой
                    br
                    | камина, печи, котла
                li Гарантия (от трёх до десяти лет)
                li Работаем чисто, аккуратно, убираем за собой, не сквернословим
                li Только русские квалифицированные специалисты
                li Устанавливаем любые дымоходы всех производителей
        .description_2-col-2
            img.blob(src="images/blob.png" alt="blob")



