section.section_container
    img(src="images/Rectangle.png" alt="rectangle")
    h2.section_2_title Процесс выполнения монтажа 
    .section_2_description
        .section_2_description-col-1
            .desc-flex
                p.desc_num 1 
                    p Расчет предварительной заявки
            .desc-flex
                p.desc_num 2
                    p Замер объекта нашим инженером
            .desc-flex
                p.desc_num 3
                    p Составление Коммерческого предложения по изделиям
                        br 
                        | дымохода и окончательной сметы на  работы 
        .section_2_description-col-2 
            .desc-flex 
                p.desc_num 4
                    p Изготовление Дымохода, покраска (если требуется)
            .desc-flex 
                p.desc_num 5
                    p Монтаж продукции, проверка и наладкапробный запуск
                        br
                        | системы и последующая эксплуатация
            .desc-flex 
                p.desc_num 6
                    p Гарантийное обслуживание по соответствующем сроку   
    img(src="images/Rectangle.png" alt="rectangle") 
    
                       

