section.section_container
    h2.section_3_title Почему Дымоход.ру?
    .section_3_description 
        p В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
    .section_3-flex-wrapper 
        div 
            img(src="images/guarantee.png" alt="guarantee")
            h3 Большой гарантийный срок
            p Крепёж, стыковка элементов – 
                span 10 лет
                br
                |Сквозная коррозия труб –  
                span 5 лет
                br
                |Гидроизоляция – 
                span 3 года
        div 
            img(src="images/architect.png" alt="architect")
            h3 Помощь в покупке агрегата
            p (печи, камина, котла), а также качественной
                br
                | установке на объекте с последующим 
                br
                | гарантийным сервисом
        div 
            img(src="images/review.png" alt="review")
            h3 Реальные отзывы клиентов
            p Убедитесь в добросовестности исполнения, 
                br
                | прочитав Отзывы клиентов в специальном 
                br
                | разделе.
    h1.section_3_title-2 Необходима консультация?
    h3.section_3_subtitle оставьте заявку или свяжитесь с нами в социальных сетях
    .section_3_icons 
        img(src="images/vk2.png" alt="icon")
        img(src="images/tg 2.png" alt="icon")
        img(src="images/instagram2.png" alt="icon")
        img(src="images/whatsapp2.png" alt="icon")
    .form_container 
        .form_wrapper
            h3 Для 
                span консультации 
                | заполните форму!
            h4 С вами свяжутся в ближайшее время
            form.section_3_form
                input(placeholder='Ваше имя')
                input(placeholder='Ваш телефон')
                button(type='submit') Отправить
    img(src="images/Rectangle.png" alt="rectangle")
