doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/styles.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="stylesheet" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap')
        title Hawking Bros
    body
        include ./components/header.pug
        include ./components/section.pug
        include ./components/sectionTwo.pug
        include ./components/sectionThree.pug
        include ./components/sectionFour.pug
        include ./components/sectionFive.pug
        include ./components/footer.pug
        script
            include ./js/main.min.js